{% extends 'base.html'%}

{% block content %}
<h1 class="text-center">Raine's One Minute Pitch App</h1>
      <div class="indexing">
        <div class="col-md-12 p-lg-5 mx-auto my-5">
           <p style="font-size:20px;">In life, you only have 60 seconds to impress someone.<br> 1 minute can make or break you.<br> How do we make sure that you use your 1 minute to actually say something meaningful?<br><br><br>Explore Raine's app to find out more</p><br>
            <div id="buttons d-block mx-auto">
                <a class="btn btn-outline-secondary bg-success separate_button" href="/new_post"style="font-size:20px">Pitch here</a>
                <a class="btn btn-outline-secondary bg-success separate_button" href="/posts"style="font-size:20px">View Pitches</a>
            </div>
        </div>
   </div>

             
        
{% endblock%} 
